  <div class="board">
    <% if @table.cards.count == 3 %>
      <% @table.cards.each_with_index do |card, index| %>
        <div id="board<%=index+1%>">
          <%= image_tag card.pic%>
        </div>
      <% end %>
    <% elsif @table.cards.count == 4 %>
      <% @table.cards.each_with_index do |card, index| %>
        <div id="board<%=index+1%>">
          <%= image_tag card.pic %>
        </div>
      <% end %>
     <% elsif @table.cards.count == 5 %>
      <% @table.cards.each_with_index do |card, index| %>
        <div id="board<%=index+1%>">
          <%= image_tag card.pic %>
        </div>
      <% end %>
    <% end %>
  </div>