  <% @table.players.sort.each_with_index do |player, index| %>
    <div class="boxed" id="player<%=index+1%>">
      <%= player.name %>
        <% if player.hand != nil && player.hand != '' %>
          <p><%= player.hand %></p>
        <% else %>
          <p><%= player.chips %></p>
        <% end %>
      <div id="button">
        <% if player.seat == @table.button %>
          <%= image_tag "button.jpg", :size => "30x30" %>
        <% end %>
      </div>
      <div id="action">
        <% if player.seat == @table.action_on_seat %>
          <div class="boxed action">A</div> 
        <% end %> 
      </div>
      <% if player.cards.count > 0 %>
        <% player.cards.each do |card| %>
          <%= image_tag card.pic, :size => "50x70" %>
        <% end %>
      <% end %>
      <div class="chips">
        <% if player.imin > 0 %>
          <%= image_tag "chips.jpg", size: "30x30" %><%=player.imin%>
        <% end %>
      </div>
    </div>
  <% end %>