
<div class="table">
  <%= render "players" %>
  <%= render "board" %>

  <div id="state">
    Bet: <%= @table.bet %> <br>
    Pot: <%= @table.pot %>
  </div>

  <div id="blinds">
    Big Blind: <%= @table.bb %><br>
    Small Blind: <%= @table.sb %>
  </div>

</div>

  <%= render "game_buttons" %>
  <% if @table.action_on_seat && @table.action_on_seat > 0 %>
    <%= render "fold" %>
    <%= render "call" %>
    <%= render "check" %>
    <%= render "raise" %>
  <% end %>

