
<div class="table">
  <% @table.players.each_with_index do |player, index| %>
    <div class="boxed" id="player<%=index+1%>">
      <p><%= player.name %></p>
      <p><%= player.chips %></p>
      <% if player.cards.count > 0 %>
        <% player.cards.each do |card| %>
          <%= image_tag card.pic, :size => "50x70" %>
        <% end %>
      <% end %>
      <% if player.seat == @table.button %>
        <%= image_tag "button.jpg", :size => "25x25" %>
      <% end %>
    </div>
  <% end %>

  <div class="board">
    <% if @table.cards.count == 3 %>
      <% @table.cards.each_with_index do |card, index| %>
        <div id="board<%=index+1%>">
          <%= image_tag card.pic %>
        </div>
      <% end %>
    <% elsif @table.cards.count == 4 %>
      <% @table.cards.each_with_index do |card, index| %>
        <div id="board<%=index+1%>">
          <%= image_tag card.pic %>
        </div>
      <% end %>
     <% elsif @table.cards.count == 5 %>
      <% @table.cards.each_with_index do |card, index| %>
        <div id="board<%=index+1%>">
          <%= image_tag card.pic %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="pot">
    <p> Pot: <%= @table.pot %> </p>
  </div>
</div>


<%= button_to "Deal cards", table_path(@table.id, preflop: :true), method: :patch %>
<%= button_to "Flop", table_path(@table.id, flop: :true), method: :patch %>
<%= button_to "Turn", table_path(@table.id, turn: :true), method: :patch %>
<%= button_to "River", table_path(@table.id, river: :true), method: :patch %>
<%= button_to "New Hand", table_path(@table.id, new_hand: :true), method: :patch %>

