
<div class="table">
  <% @table.players.sort.each_with_index do |player, index| %>
    <div class="boxed" id="player<%=index+1%>">
      <%= player.name %>
        <% if player.hand != nil && player.hand != '' %>
          <p><%= player.hand %></p>
        <% else %>
          <p><%= player.chips %></p>
        <% end %>
      <div id="button">
        <% if player.seat == @table.button %>
          <%= image_tag "button.jpg", :size => "30x30" %>
        <% end %>
      </div>
      <div id="action">
        <% if player.seat == @table.action_on_seat %>
          <div class="boxed action">A</div> 
        <% end %> 
      </div>
      <% if player.cards.count > 0 %>
        <% player.cards.each do |card| %>
          <%= image_tag card.pic, :size => "50x70" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= render "board" %>

  <div id="state">
    Bet: <%= @table.bet %> <br>
    Pot: <%= @table.pot %>
  </div>

  <div id="blinds">
    <p> Big Blind: <%= @table.bb %></p>
    <p> Small Blind: <%= @table.sb %></p>
  </div>

</div>

  <%= render "game_buttons" %>
  <% if @table.action_on_seat && @table.action_on_seat > 0 %>
    <%= render "play_buttons" %>
  <% end %>

